html{
    font-size: 18px;
}

body{
    color: silver;
    background-color: black;
    text-align: center;
    /* font-family: 左に行くほど優先順位高い */
    font-family: 'Kosugi', Hiragino Kaku Gothic ProN W3, Helvetica, Meiryo, Tahoma;
}

h1 a{
    font-size: 4rem;
}

p.description{
    margin: 20px auto 50px;
}

h2{
    font-size: 1.5rem;
}

a {
    color: goldenrod;
    text-decoration: none;
}

a:hover {
    color: gold;
}

hr{
    opacity: 0.5;
}

ul{
    list-style: none;
    margin: 0 auto 0 0;
    padding: 0;
}

li{
    /*padding: 0.4rem;*/
    line-height: 1.5rem;
}

ul.read{
    margin: 0 auto 40px 40px;
}

ul.read > li{
    margin: 0;
    padding: 0;
}


select{
    font-size: 1rem;
}

button{
    font-size: 1rem;
}

div.label{
    margin: 0 10px;
}

div.select{
    margin: 0 20px 0 0;
}

div.container {
    width: 1000px;
    text-align: left;
    margin: 0 auto;
}

div.iframe{
    writing-mode: vertical-rl;
    margin: 5vh auto;
    padding: 5vh 0;
    width: 100%;
    height: 80vh;
    overflow: auto;
    overflow-x: scroll;
    /*border: 1px solid gray;*/
}

div#navPc{
    /*background-color: #333333;*/
    font-size: 1rem;
    width: 100vw;
    position: fixed;
    top: -50px;
    left: 0;
    transition: .7s;
    writing-mode: horizontal-tb;
}

div#navPc > div{
    /*width: 1000px;*/
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

div.caption{
    margin: 20px 20px 20px;
}

div.caption p{
    line-height: 170%;
    margin: 0;
    /*margin: 0 20px;*/
}

div.episodes{
    margin: 50px 50px;
}

div.episodes div{
    margin: 0 20px 50px;
}

div.text{
    margin: 20px auto 50px;
}

div.text.links{
    display: flex;
    text-align: center;
    width: 80%;
    padding: 30px 0 0;
}

div.text.links div{
    width: 33%;
    text-align: center;
}

div.back{
    text-align: center;
    padding: 30px;
}

p.text.line{
    margin: 0;
    line-height: 180%;
    font-size: 1rem;
}

div#burger {
    display: block;
    /*position: fixed;*/
    position: absolute;
    cursor: pointer;
    /*right: -200%;*/
    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    transition: 1s;
}

img.burger{
    width: 100%;
    height: 100%;
}

img.cover{
    width: 100%;
}

div#navMobile {
    position: absolute;
    text-align: left;
    top: 5vh;
    left: -150%;
    padding: 3vh 3vw 0;
    width: 44vw;
    height: 84vh;
    color: white;
    background: gray;
    transition: .7s;
}

div#navMobile a{
    display: block;
    text-decoration: none;
    color: #cccc00;
    margin: 0 15px;
    padding: 10px;
    transition: .5s;
}

div#navMobile a:hover{
    color: #ffffff;
    background: #cd5c5c;
    border-bottom: none;
}

.pcPanelIn{
    transform: translateY(60px);
}

.mobilePanelIn{
    transform: translateX(1000px);
}

div#navMobile > div > label{
    font-size: 1rem;
    padding: 15px 0;
}

div#navMobile > div > select{
    font-size: 1rem;
    width: 5rem;
    padding: 15px 0;
    margin: 0 auto 30px;
}

div#navi_close{
    background-color: #b4ada9;
    width: 90%;
    height: 80%;
    margin: 0 0 0 auto;
    padding: 0;
    opacity: 0;
}

.mincho{
    font-family: "Sawarabi Mincho";
}

div.stealthButton{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: white;
    background-color: gray;
    position: fixed;
    border-radius: 50%;
}

div.stealthButton:hover{
    opacity: 0.5;
}

div.stealthButton.lr{
    width: 30vh;
    height: 30vh;
    top: 35vh;
}

div#leftButton{
    left: 5vw;
}

div#rightButton{
    right: 5vw;
}

@media screen and (max-width: 1000px){
    html{
        font-size: 4vw;
        font-family: sans-serif;
    }

    ul.read{
        margin: 3vh 0 5vh 5vw;
    }

    li{
        line-height: 150%;
    }

    div.containter {
        width: 94vw;
        text-align: left;
        margin: 0 3vw;
    }

    div.novel.controller{
        /*height: 0;*/
        position: fixed;
        right: -300%;
    }

    div.caption p{
        line-height: 150%;
    }

    div#navMobile > div > label{
        /*list-style-type: none;*/
        font-size: 1.5rem;
        padding: 1vh 0;
    }

    div#navMobile > div > select{
        font-size: 1rem;
        width: 35vw;
        padding: 1vh 0;
        margin: 0 auto 2vh;
    }

    div#burger{
        position: absolute;
        top: 3vw;
        right: 3vw;
        width: 15vw;
        height: 15vw;
    }

    .mobilePanelIn{
        transform: translateX(350%);
    }
}