@charset "UTF-8";

body{
    /*font-family: Sawarabi Gothic, Hiragino Kaku Gothic ProN W3, Helvetica, Meiryo, Tahoma;*/
    font-family: 'Noto Serif JP', 'Kosugi', Hiragino Kaku Gothic ProN W3, Helvetica, Meiryo, Tahoma;
}

div.container{
    writing-mode: vertical-rl;
    margin: 5vh 0;
    padding: 5vh 5vw;
    width: auto;
    height: 80vh;
    overflow: auto;
}

div#navPc{
    left: auto;
    right: 0;
}

div.iframe{
    writing-mode: vertical-rl;
    margin: 5vh 0;
    padding: 5vh 5vw;
    width: auto;
    height: 80vh;
    overflow: auto;
}

div.caption p{
    margin: 0;
}

div.text.links{
    text-align: left;
    margin: 0 30px auto 0;
    padding: 0;
    display: block;
}

div.text.links div{
    text-align: left;
    margin: 40px 30px auto 0;
}

div.back{
    text-align: left;
    margin: 40px 30px auto 0;
    padding: 0;
}

div.backHome{
    margin: 40px 30px auto 0;
}

ul.read{
    margin: 40px 0 0 50px;
}

img.cover{
    width: auto; height: 100%;
}

div#pns_burger {
    display: block;
    position: static;
    margin: 0 -2vw auto auto;
}

@media screen and (max-width: 1000px){
    div.containter{
        margin: 0;
    }

    div#navMobile {
        position: fixed;
        text-align: left;
        top: -90vh;
        left: 28vw;
        right: 0;
        padding: 3vh 3vw 0;
        width: 44vw;
        height: 60vh;
        transition: .7s;
    }

    .mobilePanelIn{
        transform: translateY(100vh);
    }

    div#pns_burger {
        margin-top: -2vh;
    }
}